* {
  margin: 0;
  padding: 0;
}

html {
  font-family: helvetica, arial, sans-serif;
  font-size: 100%;
  color: #333;
}

a {
  color: #00a;
  text-decoration: none;
  padding: 0 20px;
}

.demo {
  height: 100px;
  text-align: center;
  width: 25%;
  float: left;
  padding: 70px 20px;
  box-sizing: border-box;
}

header {
    padding: 50px;
    text-align: center;
    background: #333;
    color: #ddd;
}

header h1 {
  color: #F5C142;
}

h1 {
    margin-bottom: 20px;
}

h2 {
  font-size: 120%;
  margin-bottom: 30px;
}